market-data-models @ git+https://github.com/davidhoang2406/mekong-data-models.git
kafka-python==2.3.1
fastavro>=1.9
pyarrow>=16.0
minio>=7.2
python-dotenv==1.2.2
requests==2.34.0
packaging==26.2
vnstock>=4.0.4
ccxt>=4.4.0
pytest>=7.4
